{% extends 'core/base.html' %}

{% block title %}Filtracion{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Encuesta</h1>
    <span class="subheading">Gestor de informacion</span>
{% endblock %}

{% block content %}
<!--Imagen del logotipo de la app-->
    <div align = "center">
        <img class="img-fluid" src="{% static 'core/img/logo_new.png' %}" alt="">
    </div>

<!--Informacion sobre la app y sobre lo que trata-->
    <div align = "Center">
        <div class="container">
             <label>
                  <h4>
                        Esta aplicacion conlleva a que las personas brinden informacion acerca de lo que recibieron
                        y que entidades les ayudaron para sobrellevar la cuarentena que se esta pasando en este momento 
                        por los motivos que se esta enfrentando en todo el pais
                  </h4>
                    <br>
                  <h4> 
                        La idea es crear una herramienta de facil utilidad para que cualquier persona pueda acceder 
                        sus datos sin salir de casa, para que las instituciones que necesitan esta informacion
                        sea de utilidad para ellos 
                  </h4>
             </label>
        </div>
        <br>
    </div>
    <br>

<!--Filtrado de datos-->
    <div class = "container">
        <label><h4>Filtrar Datos por:</h4></label>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="inputDepartamento"><h5>Departamento:</h5></label>
                    {{ form.departamento.label_tag }} 
                    {{ form.departamento }}
                    
                </div>
                <div class="col">
                    <label class="col-form-label" for="inputMunicipio"><h5>Municipio:</h5></label>
                    {{ form.municipio.label_tag }}  
                    {{ form.municipio }}
                    
                </div>

                <button type="button" class="btn btn-dark" id="filtrarInfo"><h8>Filtrar</h8></button>
            </div>
        </form>

        <br>
        <div id='result'>
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Direccion</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Cantidad de Ayudas</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for beneficiario in beneficiarios %}
                        <tr class="table-light">    
                            <td>{{beneficiario.direccion}}</td>
                            <td>{{beneficiario.nombre_departamento}}</td>
                            <td>{{beneficiario.nombre_municipio}}</td>
                            <td>{{beneficiario.cantidad}}</td>
                            <td>
                                <button type="button" onclick="getInfoExtend({{beneficiario.idBeneficiario}})" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                                    <i class="large material-icons">more</i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Informacion detallada</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="result2">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="container"></div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">

            $(document).ready(function() {
                $("#id_departamento").on("change", getMunicipios);
                $("#filtrarInfo").on("click", getInfo);
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                })
            });

            function getMunicipios() {
                var departamentoId = $("#id_departamento").val();
                if (departamentoId) {
                    // Eliminamos las opciones anteriores del select
                    $("#id_municipio").html("");
                    var request = $.ajax({
                        type: "GET",
                        url: "{% url 'get_municipios' %}",
                        data: {
                            "departamento_id": departamentoId,
                        },
                    });
                    request.done(function(response) {
                        // Agregamos los resultados al select
                        $("#id_municipio").html(response.municipios);
                        $("#id_municipio").trigger("change");
                    });
                } else {
                    $("#id_municipio").html("<option value='' selected='selected'>--------</option>");
                    $("#id_municipio").trigger("change");
                }
            }

            function getInfo() {
                var departamentoId = $("#id_departamento").val();
                var municipioId = $("#id_municipio").val();
                var beneficioId = $("#id_beneficio").val();
                var benefactorId = $("#id_benefactor").val();

                $("#result").html("");
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_info' %}",
                    data: {
                        "departamento_id": departamentoId,
                        "municipio_id": municipioId,
                        "beneficio_id": beneficioId,
                        "benefactor_id": benefactorId,
                    },
                });
                request.done(function(response) {
                    // Agregamos los resultados al select
                    $("#result").html(response.beneficiarios);
                    $("#result").trigger("click");
                }); 
            }

            function getInfoExtend(id_beneficiario) {
                $("#result2").html("");
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_detalle' %}",
                    data: {
                        "beneficiario_id": id_beneficiario,
                    },
                });
                request.done(function(response) {
                    // Agregamos los resultados al select
                    $("#result2").html(response.detallesExtend);
                    $("#result2").trigger("click");
                }); 
            }

            Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Cantidad de ayuda por departamento'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    {% for grafic in grafico %}
                    '{{grafic.nombre_departamento}}',
                    {% endfor %}
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Ayuda'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Cantidad de ayuda',
                showInLegend: false,
                colorByPoint : true,
                data: [
                    {% for grafic in grafico %}
                    {{grafic.cont}},
                    {% endfor %}
                ]

            }]
        });
        </script>
       
    </div>    
{% endblock%}

<!--Aquí se va a insertar la tabla que muestra los datos (La tabla principal)
Dicha tabla contiene [Departamento, Municipio, Beneficio, Benefactor]-->





{% block footer%}
    <br></br>
    <div align = "center" class="container">
        {% if not request.user.is_authenticated %}
        <a href="{% url 'Iniciar Sesion' %}"><button type="button" class="btn btn-link" pull-righ>Iniciar Sesión</button></a> 
        {% endif%}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Si desea agregar información, Haga click Aquí</label>
        <a href="{% url 'Agregar Infromacion' %}"><button type="button" class="btn btn-dark" pull-left><h8>Aquí</h8></button></a>
    </div>
{% endblock %} 
