{% extends 'base/base.html' %}

{% block title %}
ARDC - IniciarSesion
{% endblock %}

    {% block header %}
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
          <a href="" class="navbar-brand"><h3>Bienvenido a Iniciar Sesión</h3></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
            </ul>
          </div>
        </div>
    </div>
    {% endblock %}



    {% block content %}
    <br></br>
    <br></br>
    <br></br>
    <br></br>

    <p align = "center">Aquí iría el logo</p>

    <br></br>    
    <br></br>
    <div class="container">
        <div class="container">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label class="col-form-label" for="inputUsuario"><h4>Nombre de Usuario:</h4></label>
                        <input type="text" class="form-control" placeholder="Introduzca su nombre de usuario" id="inputUsuario">
                    </div>
                    <div class="form-group">
                        <label for="inputContraseña"><h4>Contraseña:</h4></label>
                        <input type="password" class="form-control" id="inputContraseña" placeholder="Introduzca su contraseña">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% endblock %}

    
    {% block footer%}
    <br></br>
    <div class="container">
        <div align="right" class="container">
            <button type="button" class="btn btn-warning"><h4>Cancelar</h4></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success"><h4>Iniciar Sesión</h4></button>
         </div>
    </div>
    {% endblock %}

     